import React from 'react';

// import { 
//  Component 
//} from './{{getPath folder (createFilename name)}}.styled'

const {{name}}: React.FC = () => {
  return (
    <>
        <head>
            <title>e-diaristas - {{name}}</title>
        </head>
        <div>

        </div>
    </>
  );
}

export default {{name}};