<!DOCTYPE html>
<html th:replace="~{adminlte3::layout (~{::title}, ~{::main}, _, _)}">
<head>
  <title>Alterar Senha</title>
</head>
<body>
<main>
  <div class="row">
    <div class="col">
      <div class="card card-primary">
        <div class="card-header">
          <div class="card-title">Formulario de Alteracao de Senha</div>
        </div>
        <div class="card-body">
          <span th:if="${alert}" class="alert alert-info" role="alert" th:text="${alert}"></span>

          <form method="POST" th:object="${newPassword}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="oldPassword">Senha antiga</label>
                  <input type="text" class="form-control" th:field="*{oldPassword}">
                  <ul style="padding: 5px; list-style: none;">
                    <li class="text-danger" th:each="error : ${#fields.errors('oldPassword')}" th:text="${error}"></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <label for="password">Senha</label>
                  <input type="text" class="form-control" th:field="*{password}">
                  <ul style="padding: 5px; list-style: none;">
                    <li class="text-danger" th:each="error : ${#fields.errors('password')}" th:text="${error}"></li>
                  </ul>
                </div>
              </div>

              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <label for="confirmPassword">Confirma sua senha</label>
                  <input type="text" class="form-control" th:field="*{confirmPassword}">
                  <ul style="padding: 5px; list-style: none;">
                    <li class="text-danger" th:each="error : ${#fields.errors('confirmPassword')}" th:text="${error}"></li>
                  </ul>
                </div>
              </div>
            </div>


            <button type="submit" class="btn btn-success">Salvar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
</body>
</html>